body {
    background-color: #fbfcfdc4;
    color: rgba(2, 0, 0, 0.966);
    padding: 40px;
    font-family: Arial;
    text-align: center;
    
    
  background-repeat: no-repeat;
  background-size: 1400px 1000px;
    
  }
  label {
    display: inline-block;
    width: 140px;
    padding-top: 50px;
    text-align: left;
   
  }​
input {
    outline: none;
      display: block;
       background: rgba(black, 0.1); 
      width: 100px;
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: gray;
      font-family: inherit;
      font-size: inherit;
      font-weight: semibold;
      line-height: inherit;
      transition: 0.3s ease;
    
}
div {
    padding-top: 23px;
    padding-right: 32px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
.remember{

padding-right: 155px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  background-color: white;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.button{
  background-color: #101011;
  border: none;
  color: white;
  padding: 20px 40px;
  float: inline-start;
  text-align: left;
  text-decoration: none;
  display: initial;
  font-size: 16px;
  border-radius: 50px;
}
.remember{
  font-size: 12px;
}
.text-danger{
  color: red;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}